body {
    background-color: orangered;
    margin: 0;
    font-family: rubik;
    color: white;
  }
  li { 
    list-style: none;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    animation:fromZ 500ms linear;
  }
  .card {
    padding: 40px;
    background-color:#e5e5e5;
    color: #222;
    text-align: center;
    transition: all 150ms;
    border: 2px solid gray;
    border-radius: 15px;
    transition: all 400ms;
  }

  @keyframes fromZ{
    from{
      transform: translateX(200%)
    }
    to{
      transform: translateX(0%);
    }

  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-size: 18px;
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 110px;
    padding: 25px;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .card:hover {
    animation: bounce 0.5s linear;
    // border: 5px solid #adb5bd;
    box-shadow: 0 0 15px 5px gray;
    border-radius:15px;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }